{% extends 'protein/base.html' %}
{% block title %}Home{% endblock %}
{% block active_index %}predict-1{% endblock %}


{% block body %}

    <div style="padding-top: 40px">
    <el-row id="app_form_predict" >
        <el-col :span="12" :offset="6">
            <h2>Structure Prediction</h2>
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px" class="demo-ruleForm" label-position="right">
                    {% csrf_token %}
                <el-form-item label="Input Sequence" prop="protein_seq">
                    <el-input type="textarea" v-model.trim="ruleForm.protein_seq"  :autosize="{ minRows: 4, maxRows: 20}" clearable ></el-input>
                </el-form-item>


                <el-form-item label="Platform" prop="platform">
                    <el-checkbox-group v-model="ruleForm.platform">
                        <el-checkbox label="AlphaFold 2"  name="platform" checked></el-checkbox>
                        <el-checkbox label="RoseTTAFold" name="platform"></el-checkbox>
                    </el-checkbox-group>
                </el-form-item>

                <el-form-item label="Project Name" prop="proj_name">
                    <el-input v-model="ruleForm.proj_name"></el-input>
                </el-form-item>

                <el-form-item label="Email" prop="email">
                    <el-input v-model="ruleForm.email" type="email"></el-input>
                </el-form-item>

                <el-form-item>
                    <el-button type="primary" @click="submitForm('ruleForm')">Summit</el-button>
                    <el-button @click="resetForm('ruleForm')">Reset</el-button>
                    <el-button @click="ExampleFrom()">Example</el-button>
                </el-form-item>

            </el-form>

        </el-col>
    </el-row>
</div>
    <script>

    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        var form_predict = {
            data() {
                return {
                    ruleForm: {
                        proj_name: '',
                        email: '',
                        date1: '',
                        date2: '',
                        delivery: false,
                        platform: [],
                        protein_seq: ''
                    },
                    rules: {
                        proj_name: [
                            {required: true, message: 'Please input a project name!', trigger: 'blur'},
                            {min: 3, max: 20, message: 'length 3 to 20 characters', trigger: 'blur'},
                            {validator: this.checkProName,  trigger:'blur'}
                        ],

                        date1: [
                            {type: 'date', required: true, message: '请选择日期', trigger: 'change'}
                        ],
                        date2: [
                            {type: 'date', required: true, message: '请选择时间', trigger: 'change'}
                        ],

                        protein_seq: [
                            {required: true, message: 'Please input protein sequence!', trigger: 'blur'}
                        ],

                        email:[
                            {type: 'email', required: true, message: 'please input valid email address!', trigger: 'change'}
                        ],
                        platform: [
                            {type: 'array', required: true, message: 'Please select at least one platform', trigger: 'blur'}
                        ],
                    }
                };
            },
            methods: {

                submitForm(formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            //alert('submit!');
                            console.log(valid)

                          axios({
                method:"post",
                url:"{% url 'protein:structure_result' %}",
                headers: {'X-CSRFToken': csrftoken},
                data: JSON.stringify({
                    proj_name: this.ruleForm.proj_name,
                    email:   this.ruleForm.email,
                    platform: this.ruleForm.platform,
                    protein_seq: this.ruleForm.protein_seq
                }),

            }).then((response)=>{
                console.log(response);
            });

                        } else {
                            console.log('error submit!!');
                            return false;
                        }
                    });
                },

                resetForm(formName) {
                    this.$refs[formName].resetFields();
                },

                ExampleFrom(){
                        this.ruleForm.proj_name = 'Project_1',
                        this.ruleForm.email= 'HelloWorld@gmail.com',
                        this.ruleForm.platform = ['AlphaFold 2',"RoseTTAFold"],
                        this.ruleForm.protein_seq = '>gene_1\nMKKIMIMSVGGSAEPVINAVKKGKADYYYFFCSSGPKGSEHLIDDPGDPCGDKRKVKCPKCASEFLSGNPKGHSIVSQTGLSRQQWELINIADPDDLDECYKALMTVKGKIHEAYGDACTVIANYTGGTKTMSVALGLMGIFNESWQLNINKGPRLDLIKVRIGDTPVVVDKWRMYGEHQLIIARKAIQQYDYAHAESVLSDMLSHPLDKETSGQVHDAINACRAFDQWDKFNHESALDLLAGCKAKYQELIIALKKILGRQRVVSGYELVGDLINNAERHAHRGYFDDAVGRLYRATEMFAQTRLKITHNLDSGEMTPGNLPAEIRPKYQTRVRENNRLLLGLRDDYALLADLNDPMGVLFESRSRKITDILKKRNDSIFAHGVRPLSDSDYRKVKETLAGFIEESAVKNGIEYRVPQMPQEGLV'
                },

                  checkProName(rule, value, callback){
                    axios.get("{%  url 'protein:check_proj' %}?proj_name=" + value).then(function (response) {
                        //console.log(response)
                        if (response.data.isExist == 1) {
                            //console.log("exist")
                            return callback(new Error("Project name exist !"));
                        } else {
                        //console.log("not exist")
                        return  callback();
                        }
                    });
                },
            }
        }

var Ctor_form_predict = Vue.extend(form_predict)
new Ctor_form_predict().$mount('#app_form_predict')
</script>


{% endblock %}
